.menu-to-cus{
        .category-btn{
            background-color: $color-primary-dark;
        }
        .product-row{
            position: relative;
            &-product{
                

            }
            &-btn{
                width: 20%;
                position: absolute;
                right:0.3rem;
                bottom: -0.3rem;
                background-color: $color-primary-light;
                border:none;          
            }
        }
}