.menu-to-cus{
    &-header{
        background-color: #CCF6C8;
        position: sticky;
            top: 0.3rem;
            z-index: 5;
        
        .cart{
            color:white;
            font-size: large;
            background-color:#FF6D28;
            padding:.5rem;
            border-radius: 50%;
        }
        
        .category-btn{
            background-color: #FF6D28;
        }
        .category-row{
            border-bottom: #70AF85 solid 1px ;
        }

    }
        .product-row{
            position: relative;
            &-product{
                

            }
            &-btn{
                width: 20%;
                position: absolute;
                right:0.3rem;
                bottom: -0.3rem;
                background-color: $color-primary-light;
                border:none;          
            }
        }
       
}