@import "../node_modules/bootstrap/scss/bootstrap";

@import './sass/variables';
@import './sass/animation';
@import './sass/button';
@import './sass/typography';
@import './sass/utilities';

@import './screens/LandingPage.scss';
@import './screens/LoginPage.scss';
@import './screens/NaviSideBar.scss';



body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;    
}